<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-logo">SMART ELECTRICALS & INTERIOR DESIGN</div>
        <div>
          <div>
            <h3>Our Services</h3>
            <ul class="nav justify-content-center">
              <li class="nav-icon">
                <a href="#" class="nav-link"></a>Interior design
              </li>
              <li class="nav-icon">
                <a href="#" class="nav-link"></a>Outdoors design
              </li>
              <li class="nav-icon"><a href="#" class="nav-link"></a>Lighting</li>
              <li class="nav-icon">
                <a href="#" class="nav-link"></a>Office Design
              </li>
            </ul>
          </div>
          <div>
            <h3>Contact us</h3>
            <ul class="nav justify-content-center">
              <li class="nav-icon">
                <a href="#" class="nav-link"></a>infosmartelectricals.com
              </li>
              <li class="nav-icon">
                <a href="#" class="nav-link"></a>Nairobi, Kenya <br/>AE 984 Nairobi-South
              </li>
              <li class="nav-icon">
                <a href="#" class="nav-link"></a>www.smartelectricals.co.ke
              </li>
            </ul>
          </div>
        </div>
        <p class="mb-2 mt-2">Copyright 2024| SmartElectricals</p>
      </div>
    </div>
  </div>
</footer> -->
