.home{
    display: flex;
}
.home2{
    display:flex;
}
.home-title{
    padding-top: 60px;
    margin-left: 50px;
    font-weight: 900;
    font-size: 400%;
}
.home-descptn{
    margin-left: 50px;
    font-size: 20px;
    padding-top: 20px;
}
/* .home-btn{
    margin-top: 5%;
    margin-left: 7%;
} */
.card{
    margin-left: 20px;
    max-height: 100%;
    margin-top:5%;
}
button{
margin-left: 50px;
padding:10px, 10px;
margin-top: 6%;
}
.home-data{
    display: flex;
    flex-direction: row;

}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 6%;
    color: black;
    margin-top: 5%;
    
} 
.fb, .ig, .linkedin, .x{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.social-icons{
    justify-content: space-between;
    margin-top: 5%;
padding-left: 8%;
}
/* .bottom-arrow{
    margin-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 20px;
} */
 .carousel-item{
    height: 32rem;
    background: #7777;
    color: white;

 }
 .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;

 }