<div class="home">
  <div>
    <h1 class="home-title">Interior Design</h1>
    <p class="home-descptn">
      Step into a world where the art of interior Design is meticulously<br />
      crafted to bring together timeless elegance and cutting-edge<br />
      modern innovation, allowing you to transform your living spaces into<br />
      the epitome of luxury and sophistication.
    </p>
      <button class="btn btn-secondary">CONNECT WITH US</button>
      <div class="social-icons">
        <img src="assets/facebook.png" class="fb" alt="fb">
        <img src="assets/twitter.png" class="x" alt="x">
        <img src="assets/linkedin.png" class="linkedin" alt="linkedin">
        <img src="assets/instagram.png" class="ig" alt="instagram">
      </div>
    
  </div>
  <div class="card" style="width: 30rem">
    <img src="assets/home-pic.jpg" alt="pic" />
  </div>
</div>
    <div class="numbers">
      <div>
        <h1>
          Our Reach
        </h1>
      </div>
      <div>
        <h2>400+</h2>
      <p>Completed Projects </p>
      </div>
      <div>
        <h2>600+</h2>
      <p>Satisfied Clients</p>
      </div>
      <div>
        <h2>100+</h2>
      <p>  Unique Styles</p>
      </div>    
    </div>
    <div class="card" style="width: 40rem ">
      <img src="assets/home-pic2.jpg" alt="home-pic2" />
    </div>
  
