<div>
  <h1>Our Services</h1>
</div>
<div>
  <h2>Lighting Design</h2>
  <p>
    Achieve the perfect balance of ambient, task and accent lighting for a
    functional atmosphere
  </p>
</div>
<div>
  <h1>Interior Design</h1>
  <p>
    From concept to completion, we oversee every detail to bring your vision to
    life efficiently.
  </p>
</div>
<div>
  <h1>Outdoor Design</h1>
  <p>Celebrate the changing seasons with our seasonal outdoor decor services</p>
</div>
<div>
  <img src="assets/home-pic2.jpg" alt="home-pic2" />
  <div>
    <h1>Designing Your Dream with Brilliance</h1>
    <p>
    Elevate your spaces with bespoke interior designs
    that reflect your unique style and<br>
    aspirations, crafted with precision and
    brilliance for an unforgetable living experience.
    </p>
  </div>
  <div>
    <h3>Living Room Interior Design</h3>
    <img src="assets/home-pic2.jpg" alt="home-pic2" />
  </div>
  <div>
    <h3>Commercial Office Room Interior Design</h3>
    <img src="assets/home-pic2.jpg" alt="home-pic2" />
  </div>
  <div>
    <button>Learn More</button>
  </div>
</div>
