<!-- <section class="featured-section">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h2 class="text-white">Featured Post</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eveniet error laudantium placeat nemo illum dignissimos ex, nostrum quod iure dolore quo nesciunt, perspiciatis assumenda quia magnam nulla autem neque.</p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-post-card> </app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card> </app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card> </app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card> </app-post-card>
            </div>   
        </div>
        </div>
    </div>
</section>
<section class="container mt-3">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores et quidem eum aperiam numquam inventore consequatur quis! Quisquam enim deserunt sit sequi quos. Expedita ullam, laboriosam perspiciatis ad asperiores odit.</p>
        <div class="row">
            <div class="col-md-4 mt-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-post-card></app-post-card>
            </div>

        </div>

    </div>

</section> -->