<div class="services">
  <h1 class>Our Services</h1>
</div>
<div class="container">
  <div>
    <img src="assets/lighting.png" alt="lighting" class="lighting" />
    <h3>Lighting Design</h3>
    <p>
      Achieve the perfect balance of ambient, task and accent lighting for a
      functional atmosphere
    </p>
  </div>
  <div>
    <img src="assets/interior-design.png" alt="interior" class="interior" />
    <h3>Interior Design</h3>
    <p>
      From concept to completion, we oversee every detail to bring your vision
      to life efficiently.
    </p>
  </div>
  <div>
    <img src="assets/outdoor-activity.png" alt="outdoor" class="outdoor" />
    <h3>Outdoor Design</h3>
    <p>
      Celebrate the changing seasons with our seasonal outdoor decor services
    </p>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="brilliance">
        <div class="home-pic2">
          <img src="assets/home-pic2.jpg" alt="home-pic2" class="rounded float-start"  />
        </div>
        <h2>Designing Your Dream with Brilliance</h2>
        <p>
          Elevate your spaces with bespoke interior designs that reflect your unique
          style and<br />
          aspirations, crafted with precision and brilliance for an unforgetable
          living experience.
        </p>
        <h3>Living Room Interior Design</h3>
        <h3>Commercial Office Room Interior Design</h3>
      </div>
    </div>
  </div>
    <img src="assets/home-pic2.jpg" alt="home-pic2" />
  <div>
    <button>Learn More</button>
  </div>

